* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". . ."
    ". hd ."
    ". mn ."
    ". mn .";
}

header {
  grid-area: hd;
}

main {
  grid-area: mn;
  position: relative;
  text-align: center;
  top: 550px;
}

img {
  position: absolute;
  left: 450px;

  animation-name: img;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

.continue {
  grid-area: con;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  animation-name: title;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  /* animation-name:fade; 

    animation-duration:4s; */
}

.new-game {
  color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  animation-name: title;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  /* animation-name:fade; 

     animation-duration:4s; */
}

.options {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  animation-name: title;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  /* animation-name:fade; 

    animation-duration:4s; 

    animation-fill-mode:forwards; */
}

.credits {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  animation-name: title;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  /* animation-name:fade; 

    animation-duration:4s; 

  */
}

a {
  text-decoration: none;
}

@keyframes title {

  
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
  0% {
    color: rgb(202, 73, 51);
  }

  20% {
    color: rgb(167, 45, 45);
  }

  40% {
    color: rgb(201, 114, 33);
  }

  60% {
    color: rgb(238, 132, 11);
  }

  80% {
    color: rgb(223, 186, 65);
  }

  100% {
    color: rgb(202, 73, 51);
  }

}

@keyframes img {
  0% {
    top: -400px;
  }

  25% {
    top: 130px;
  }

  50% {
    top: 130px;
  }

  75% {
    top: 130px;
  }

  100% {
    top: 130px;
  }
}
